<h2> Contacts List</h2>
<button mat-raised-button color="primary" (click)="router.navigate(['/add'])">Add New Contact</button>

<div *ngIf="loading">Loading Contacts...</div>
    <mat-card *ngFor="let contact of contacts" style ="margin: 10px 0;">
        <mat-card-title> {{contact.name}} </mat-card-title>
        <mat-card-content>
            <p> Email: {{ contact.email}}</p>
            <p> Phone: {{ contact.phone}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" (click)="editContact(contact.id)">Edit</button>
            <button mat-button color="warn" (click)="deleteContact(contact.id)">Delete</button>
        </mat-card-actions>
    </mat-card>

