<h2> Edit Contact</h2>

<form *ngif="!loading"(ngSubmit)="updateContact()">
  <!-- Name -->
  <mat-form-field appearance="outline" style="display:block; margin-bottom: 10px;">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="contact.name" name="name" required />
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline" style="display:block; margin-bottom: 10px;">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="contact.email" name="email" required />
  </mat-form-field>

  <!-- Phone -->
  <mat-form-field appearance="outline" style="display:block; margin-bottom: 10px;">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="contact.phone" name="phone" required />
  </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Update</button>
</form>